body {
      margin: 0;
      padding: 0;
      /*font-family: Quicksand;*/
      padding-bottom: 50px;
      padding-top: 50px;
}
 
nav {
      position: fixed;
      width: 100%;
}
 
nav.black {
      background: rgba(0,0,0,0.8);
      height: 100px;

}

nav .logo {
      background: url(../img/logo.png);
      background-repeat: no-repeat;
      background-size: 150px;
      background-position: center;
      padding: 22px 130px;
      height: 80px;
      float: left;
      font-size: 24px;
      transition: .3s;
}

nav.black .logo {
      color: #fff;
}

nav ul {
      list-style: none;
      float: right;
      display: flex;
      padding-right: 45px;
}

/*nav ul li {
      line-height: 80px;
}*/

nav ul li a {
      line-height: 80px;
      color:  #ffffff;
      padding: 12px 30px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s;
}

nav.black ul li a{
      color: #fff;
}

/*nav ul li a:focus {
      outline: none;
}*/

nav ul li a.active {
      background: #0a9814;
      color: #fff;
      border-radius: 6px;
}

section.sec1 {
      width: 100%;
      height: 100vh;
      background: url(../img/computer.jpg);
      background-size: cover;
      background-position: center;
}

content {
      margin-top: 80px;
}

.content p {
      width: 900px;
      margin: 30px auto;
      text-align: justify;
      font-size: 20px;
      line-height: 30px;
}

.navbar-inverse{
      margin-bottom: 0px;
}


.access .form-control{
      border-radius: 0px;
}
.navbar-brand{
      padding: 16px 15px;
}
.navbar-brand * {
      float:left;
}
.navbar-brand img{
      max-height: 40px;
      margin-top: -10px;
}
.navbar-brand span{
      margin-left: 20px;
      font-weight: bolder;
}

.products .thumbnail{
padding-top: 10px;
}


.products {      
      margin-top: 20px;
}

.products .nav li{
      padding-left: 10px;
      padding-right: 10px;
}
.products .nav .btn{
      transition: all 0.5s;
}
.products .nav .btn:hover{
      background-color: black;
      color: red;
}

.products .grid{
      margin-top: 50px;
}

.footer {
    background: #000;
    padding: 5% 0;
}

.footer ul.footer_box {
    list-style: none;
    padding: 0;
}
.footer ul.footer_box h4 {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8%;
}

.footer ul.footer_box li a {
    color: #B8B6B6;
    font-size: 0.8125em;
    text-decoration: none;
    line-height: 2em;
}

.footer .footer_search input[type="text"] {
    outline: none;
    padding: 12px 15px;
    outline: none;
    color: #202020;
    background: #FFF;
    border: none;
    width: 74%;
    line-height: 1.5em;
    font-size: 0.8125em;
}

.footer .footer_search input[type="submit"] {
    background: #C7C7C7;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    line-height: 1.6em;
    font-size: 1em;
    color: #000;
    font-weight: 800;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.footer ul.social {
    list-style: none;
    padding: 0;
    margin-top: 17%;
}

.footer ul.social li:first-child, ol li:first-child {
    margin-top: 0px;
    margin-left: 0;
}

.footer ul.social li {
    display: inline-block;
    margin-right: 8px;
}

.footer ul.social a i{
      font-size: 20px;
}

.full-screen{
 min-height: 100%;
}
